
@import  '../../../../../../defaults.styl'

.slider
	height 300px
	display flex
	align-items center
	margin-top 25px
	.carousel
		height 300px
		.slick-list
			height 300px
			.slick-track
				height 300px
ngx-slick
	width 100%
